fastapi
uvicorn
pymysql
python-dotenv
pydantic
python-multipart
cryptography
rapidocr_onnxruntime
bcrypt
python-jose[cryptography]
openai
opencv-python-headless
torch
torchvision
easyocr
numpy
faiss-cpu
xgboost
joblib
PyYAML
Pillow
openpyxl>=3.1.0
